#pragma once

#define WIFI_SSID              "your-network"
#define WIFI_PASSWORD          "your-password"
#define MQTT_HOST              "192.168.x.x"
#define MQTT_PORT              1883
#define MQTT_TOPIC_ACTIVATION  "home/kitchen/trap-sensor/activation"
#define MQTT_TOPIC_STATUS      "home/kitchen/trap-sensor/status"
#define MQTT_TOPIC_CONFIG      "home/kitchen/trap-sensor/config/set"
